BEGIN TRANSACTION

SET DATEFORMAT DMY

IF EXISTS (SELECT NULL
		   FROM cfg.upf_upload_files
		   WHERE upf_nombre_archivo = 'cr_rep_promedio_ingresos.rpt')
BEGIN
	DELETE FROM cfg.upf_upload_files WHERE upf_nombre_archivo = 'cr_rep_promedio_ingresos.rpt'
END

INSERT cfg.upf_upload_files (upf_codigo, upf_descripcion, upf_tipo, upf_nombre_archivo, upf_content_type, upf_contenido, upf_ruta, upf_nombre_corto, upf_descripcion_contenido, upf_fecha_grabacion, upf_usuario_grabacion, upf_fecha_modificacion, upf_usuario_modificacion) 
VALUES (N'04ddb7e4-3cc9-498a-b883-851a128229a5', N'CrystalReports', N'CrystalReports', N'cr_rep_promedio_ingresos.rpt', N'application/octet-stream', NULL, N'~/Reports/cr_rep_promedio_ingresos.rpt', NULL, NULL, CAST(0x0000A39D010B4F30 AS DateTime), N'admin', NULL, NULL)

COMMIT


