BEGIN TRANSACTION

SET DATEFORMAT DMY

IF EXISTS (SELECT NULL
		   FROM cfg.upf_upload_files
		   WHERE upf_nombre_archivo = 'cr_rep_planilla_detallada.rdl')
BEGIN
	DELETE FROM cfg.upf_upload_files WHERE upf_nombre_archivo = 'cr_rep_planilla_detallada.rdl'
END

INSERT cfg.upf_upload_files (upf_codigo, upf_descripcion, upf_tipo, upf_nombre_archivo, upf_content_type, upf_contenido, upf_ruta, upf_nombre_corto, upf_descripcion_contenido, upf_fecha_grabacion, upf_usuario_grabacion, upf_fecha_modificacion, upf_usuario_modificacion) 
VALUES (N'b8a66325-c7ff-4524-b65a-b667d5335a16', N'LocalReportingServices', N'LocalReportingServices', N'cr_rep_planilla_detallada.rdl', N'application/octet-stream', NULL, N'~/Reports/cr_rep_planilla_detallada.rdl', NULL, NULL, CAST(0x0000A44701614394 AS DateTime), N'admin', NULL, NULL)

COMMIT
